.root {
  font-size: 15px;
  width: 100%;

  .input {
    color: #fff;
    padding: 0;
  }

  .inputLabel {
    color: rgba(255, 255, 255, 0.5) !important;
    font-size: 15px;
    top: -2px;
    left: -3px;
    white-space: nowrap;
  }

  .inputWrapper {
    font-size: 14px;
    border-radius: 0;
    border-bottom: 1px solid transparent;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.5);
    padding: 6px 0 7px;

    &:hover {
      border-color: #fff;
      background-color: transparent;
      transition: 0.2s;
    }

    &.focused:not(input) {
      border-color: #fff;
    }

    &.adornedEnd {
      padding-right: 9px;
    }

    &.adornedStart {
      padding-left: 9px;
    }

    &.error {
      color: #f44336;
      border-color: #ff4114 !important;

      .input {
        color: #f44336;
      }
    }
  }
}
